:root {
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-container{
    display:flex;
    align-items: center;}
header{
    border-bottom: 1px solid #ECECEC;
}
.nav-container>.site-nav{
    display: inline-flex;
    flex-direction: row;}
.nav-container>.contacts{
    display: inline-flex;
    flex-direction: row;}


.site-nav-item{
    display: inline-flex;
    flex-direction: row;
    margin-right:50px;
   }

.site-nav-item>.link{
    padding-bottom: 32px;
    padding-top: 32px;
}


.site-nav-item:last-child {
    margin-right:331px
}
.logo{
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right:93px;

}

.contacts-item{display: inline-flex;
    flex-direction: row;
    margin-right: 50px;
   }
.contacts-item .link{
    padding-bottom: 32px;
    padding-top: 32px;
}
.contacts-item:last-child {
    margin-right:0;
}

   

div{display: block;}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
section{
    padding-bottom:94px ;
    padding-top:94px ;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-family-primary);


}

.logo {
    color:#000000;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: #2196F3;
    font-family: var(--font-family-secondary);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
    text-decoration: underline;
}


 

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.contacts .link {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}


.work-section-title {
    display:block;
    margin-bottom:50px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align:center;

}
.work-section .work-section-photo  {
    display: flex;
    text-align: center;
}

.work-section-photo .img{
    display:inline-block;
   
   }
.work-photo-example{
    margin-right: 30px;
}
.work-section-photo .img:last-child{
    padding-right:0;
}


.hero-section {display: block;
    text-align: center;
    background-color: var(--secondary-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-section-title {
  width: 700px; 
  margin-left: auto;
  margin-right: auto;
 text-align: center;
    margin-bottom:40px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.primary-button{ 
   
    padding: 10px 32px;
    border: 4px solid #2196F3;
    border-radius:4px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space:wrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.qualities-section{
    padding-bottom: 0px;
}
.qualities-section .quality-list {
    display:flex;
    flex-wrap: nowrap;
  }
 .quality-element{ 
    margin-right: 30px;
    width: 270px;}

.quality-title {
 margin-bottom: 10px;
  color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.quality-title:last-child {
    margin-right: 0;
}

.quality-text {
   
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}

.quality-text:last-child {
    margin-right: 0;
}


.name-section{
    background-color:#F5F4FA;
}
.box-name {
    box-sizing: border-box;
    flex-wrap: wrap;
   
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0px 2px 1px 0px #00000033;
    
        box-shadow: 0px 1px 1px 0px #00000024;
    
        box-shadow: 0px 1px 3px 0px #0000001F;
}
 .name-section-title {
     display: block;
  
     margin-bottom: 50px;
     color: #212121;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-align: center;}
.name-section .name-section-list{
    display: flex;
    text-align: center;
}
.name-section-list .img{display: block;
    max-width: 100%;
    height: auto;
    margin-right:30px;}
.name-section-list .img:last-child {
    padding-right: 0;}

.name-section-list .title {
   
   
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}


.name-section-list .text {
  margin-bottom: 0;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

}
.workers{
    width:270px;
    margin-right: 30px;
   
}
.workers:last-child{
    margin-right: 0px;
}

.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
    font-style: normal;
}
.footer .logo-footer{
    display: block;
    margin-bottom: 20px;
    color: black;
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.studio-footer {
    color: #FFFFFF;
    font-family: var(--font-family-secondary);
}

.studio {
    color: #212121;
    font-family: var(--font-family-secondary);
}

 .option-section-list{
    display:flex;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-bottom: -30px;
        margin-right: -30px;
}
.option-section-list>.option-element{
   margin-bottom: 30px;
    margin-right:30px;}
.option-section-list>.option-element:nth-child(3n) {
    margin-right:0px;}
.option-element .img{
    display:block;
max-width: 100%;
height: auto;}
.option-element .title {
    display:flex;
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;}

.option-element .text {
    display:flex;
   color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    text-align: left;}
.box {
  box-sizing: border-box;
    flex-wrap: wrap;
    padding-bottom:20px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE
}
.option-element .text:nth-last-child(-n+3){
    margin-bottom:0;}



.secondary-button {
    display: inline-block;
    padding:6px 22px ;
    margin-right: 8px;
    border:4px solid #F5F4FA;
    border-radius: 4px;
    color: var(--primary-text-color);
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
    color: #FFFFFF;
    font-family: inherit;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer
}
.focus-button{
    display: inline-flex;
    padding: 6px 22px;
    margin-right:8px;
    border: 4px solid #2196F3;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;

}

.footer .footer-contacts{
    display: block;
    
}
.footer-contacts .link {
    display:flex;
    margin-top: 0;
    margin-bottom: 9px;
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}
.footer-contacts .link.current{display: flex;
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: white;
}

.footer-contacts .link:hover,
.contacts-foot .a:focus {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;

}

.proposal-section .button{
    display: flex;
   justify-content: center;

}

