:root {
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Raleway', serif;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-container{
    display:flex;
    align-items: center;
}
.nav-container>.site-nav{
    display: inline-flex;
    flex-direction: row;}
.nav-container>.contacts{
    display: inline-flex;
    flex-direction: row;}


.site-nav-item{
    display: inline-flex;
    flex-direction: row;
    margin-right:50px;
    padding-bottom:32px;
    padding-top:32px;}
.site-nav-item:last-child {
    margin-right:331px
}
.logo{
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right:93px;

}

.contacts-item{display: inline-flex;
    flex-direction: row;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-right: 50px;
   }
.contacts-item:last-child {
    margin-right:0;
}

   

div{display: block;}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.section{
    padding-bottom:94px ;
    padding-top:94px ;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-family-primary);


}

.logo {
    color: black;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: #2196F3;
    font-family: var(--font-family-secondary);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
    text-decoration: underline;
}


 

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

.contacts .link {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}


.work-section-title {
    display:block;
    margin-bottom:50px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align:center;

}
.work-section .work-section-photo  {
    display: flex;
    text-align: center;
}

.work-section-photo .img{
    display:inline-block;
    margin-right: 30px;
    padding-bottom: 94px;}
.work-section-photo .img:last-child{
    padding-right:0;
}


.hero-section {display: block;
    text-align: center;
    background-color: var(--secondary-bg-color)
}

.hero-section-title {
    display:inline-block;
    padding-top:200px;
  margin-bottom:40px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.primary-button{ 
    display:inline-block;
    padding: 10px 32px;
    margin-bottom: 210px;
    border: 4px solid #2196F3;
    border-radius:4px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space:wrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.qualities-section .quality-list{
    display:flex;

}
.quality-list-title {
    display: inline-flex;
    padding-top: 94px;
    margin-bottom:10px ;
    margin-right: 30px;
    width: 270px;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}
.quality-list-title:last-child{
    margin-right: 0;
}

.quality-list-text {
    display:inline-block;
    margin-right:30px;
    margin-bottom: 94px;
    width: 270px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}
.quality-list-text:last-child{
    margin-right: 0;
}
.quality-list-text:last-child{
    margin-right:0;
}
.name-section{
    background-color:#F5F4FA;
}
 .name-section-title{display:block;
    padding-top: 94px;
    margin-bottom: 50px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.name-section .name-section-list{
    display: flex;
    text-align: center;
}
.name-section-list .img{
    display: inline-block;
    margin-right:30px;}
.name-section-list .img:last-child {
    padding-right: 0;}

.name-section-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}


.name-section-list .text {
    padding-bottom: 124px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

}

.footer-section {
    display: block;
    background-color: var(--secondary-bg-color);
    font-style: normal;
}
.footer-section .logo-footer{
    display: block;
    padding-top: 60px;
    padding-right: 12400px; 
    margin-bottom: 20px;
    color: black;
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.studio-footer {
    color: #FFFFFF;
    font-family: var(--font-family-secondary);
}

.studio {
    color: #212121;
    font-family: var(--font-family-secondary);
}

.option-section .option-section-list{
    display:flex;
    flex-wrap:wrap;

}
.option-section-list>.option-element{
    width:370px;
    margin-right:30px;
}
.option-section-list>.option-element:nth-child(3n) {
    width: 370px;
    margin-right:0px;
}
.option-element .img{
    display:inline-flex;
    margin-bottom:20px;

  }

.option-element .title {
    display:block;
    margin-bottom:4px ;
    padding-right:24px ;
    padding-left:24px ;
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.option-element .text {
    display:block;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 50px;
   color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}
.option-element .text:nth-last-child(-n+3){
    margin-bottom:114px;
}



.secondary-button {
    display: inline-block;
    padding:6px 22px ;
    margin-right: 8px;
    margin-top: 94px;
    margin-bottom: 56px;
    border:4px solid #F5F4FA;
    border-radius: 4px;
    color: var(--primary-text-color);
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
    color: #FFFFFF;
    font-family: inherit;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer
}
.focus-button{
    display: inline-flex;
    padding: 6px 22px;
    margin-top: 94px;
    margin-bottom: 56px;
    margin-right:8px;
    border: 4px solid #2196F3;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;

}

.footer-section .footer-contacts{
    display: block;
    
}
.footer-contacts .link {
    display:flex;
    margin-top: 0;
    margin-bottom: 9px;
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}

.footer-contacts .link:hover,
.contacts-foot .a:focus {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;

}

.proposal-section .button{
    display: flex;
   justify-content: center;

}